APP_NAME=SYSGOV
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost
DB_CONNECTION=mysql
DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=sysgov
DB_USERNAME=sysgov
DB_PASSWORD=secret
CACHE_STORE=redis
QUEUE_CONNECTION=redis
REDIS_HOST=redis
SANCTUM_STATEFUL_DOMAINS=localhost:5173
